/* ===== 全ページ共通の背景設定 ===== */
/* background.css 内を一時的にこれだけにする */
body.base-bg, body.verify {
  background-color: #222; /* 確認用に少し明るいグレーに */
  background-image: url("noise.png");
  background-size: cover;
}
